#main
  #carousel-example-generic.carousel.slide{"data-interval" => "1000", "data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    .carousel-inner{:role => "listbox"}
      .item.active
        %a{:href => "/projects/show"}
          = image_tag "varrado.png", height:"250", width:"1300"
      .item
        %a{:href => "/projects/show"}
          = image_tag "racer.png", height:"250", width:"1300"
      .item
        %a{:href => "/projects/show"}
          = image_tag "cruiser.png", height:"250", width:"1300"
      .carousel-caption
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
%div{:style => "background-color: #d3d3d3"}
  .addbuttonpad
    %button.btn.btn-default{:onClick => "location.href='/projects/new'", :type => "button"} Add　＋
  .center{:style => "padding: 10px 0px"}
    #card.js-masonry
      %a{:href => "/projects/show"}
        .transitionbox.item
          .transitionimg
            = image_tag "neco.jpg", width:"300"
          %p
            Title -
            texttexttexttexttexttexttexttexttexttext
            texttexttexttetexttext
          .bottom
            %i.glyphicon.glyphicon-thumbs-up.like>
            111
      %a{:href => "/projects/show"}
        .transitionbox.item
          .transitionimg
            = image_tag "neco.jpg", width:"300"
          %p
            Title -
            texttexttexttexttexttexttexttexttexttext
            texttexttexttetexttext
          .bottom
            %i.glyphicon.glyphicon-thumbs-up.like>
            111
      %a{:href => "/projects/show"}
        .transitionbox.item
          .transitionimg
            = image_tag "neco.jpg", width:"300"
          %p
            Title -
            texttexttexttexttexttexttexttexttexttext
            texttexttexttetexttext
          .bottom
            %i.glyphicon.glyphicon-thumbs-up.like>
            111
      %a{:href => "/projects/show"}
        .transitionbox.item
          .transitionimg
            = image_tag "neco.jpg", width:"300"
          %p
            Title -
            texttexttexttexttexttexttexttexttexttext
            texttexttexttetexttext
          .bottom
            %i.glyphicon.glyphicon-thumbs-up.like>
            111
      %a{:href => "/projects/show"}
        .transitionbox.item
          .transitionimg
            = image_tag "neco.jpg", width:"300"
          %p
            Title -
            texttexttexttexttexttexttexttexttexttext
            texttexttexttetexttext
          .bottom
            %i.glyphicon.glyphicon-thumbs-up.like>
            111
      %a{:href => "/projects/show"}
        .transitionbox.item
          .transitionimg
            = image_tag "neco.jpg", width:"300"
          %p
            Title -
            texttexttexttexttexttexttexttexttexttext
            texttexttexttetexttext
          .bottom
            %i.glyphicon.glyphicon-thumbs-up.like>
            111
      %a{:href => "/projects/show"}
        .transitionbox.item
          .transitionimg
            = image_tag "neco.jpg", width:"300"
          %p
            Title -
            texttexttexttexttexttexttexttexttexttext
            texttexttexttetexttext
          .bottom
            %i.glyphicon.glyphicon-thumbs-up.like>
            111
      %a{:href => "/projects/show"}
        .transitionbox.item
          .transitionimg
            = image_tag "neco.jpg", width:"300"
          %p
            Title -
            texttexttexttexttexttexttexttexttexttext
            texttexttexttetexttext
          .bottom
            %i.glyphicon.glyphicon-thumbs-up.like>
            111
      %a{:href => "/projects/show"}
        .transitionbox.item
          .transitionimg
            = image_tag "neco.jpg", width:"300"
          %p
            Title -
            texttexttexttexttexttexttexttexttexttext
            texttexttexttetexttext
          .bottom
            %i.glyphicon.glyphicon-thumbs-up.like>
            111
